# Collector service example env
PORT=4000
REDIS_URL=redis://localhost:6379
REDIS_STREAM_KEY=logs-stream
DB_HOST=localhost
DB_PORT=5432
DB_NAME=logsdb
DB_USER=devlogs
DB_PASSWORD=devlogs
RATE_LIMIT_PER_MIN=120
